.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    grid-gap: 20px;
    margin-top: 15px;
}
.footer{
   display: flex;
   justify-content: center;
   align-items: center;
}
.container p{
    font-size: 13px;
}