body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.card{
    width: 270px;
    height: 450px;
    background: linear-gradient(160deg,#acd0be,#91c0b5,#77b0ae,#5fa0a8,#4c8ea2,#3f7d9b,#3a6b91,#3c5884);
    border-radius:20px;
}